.expressive-code {
    .frame {
        @apply !shadow-none;
    }

    .title {
        font-family: "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
    
    pre {
        overflow-x: auto;
        
        /* スクロールバー全体 */
        &::-webkit-scrollbar {
            height: 15px; /* 太さ */
            border-radius: 0 0 8px 8px;
        }
        
        /* スクロールバーのトラック */
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 0 0 8px 8px;
        }
        
        /* スクロールバーのつまみ */
        &::-webkit-scrollbar-thumb {
            background: #808080;
            border-radius: 9px;
        }
        
        /* Firefox */
        scrollbar-width: auto;
        scrollbar-color: #666666 transparent;
    }
}